@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-colour: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-colour: black;
    --general-text-white: white;
  }
}

* {
}

body {
  background-color: var(--background-colour);
  color: var(--general-text-white);

  /* font-family: 'Montserrat', sans-serif;s */
}

.heading{
  /* font-family: 'Montserrat', sans-serif; */
}